<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">
                <span>
                    <i class="nav-icon bi bi-house"></i>
                    <span class="nav-text">Orders</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/receiver-home" routerLinkActive="active">
                <span>
                    <i class="nav-icon bi bi-laptop"></i>
                    <span class="nav-text">Receiver</span>
                </span>
            </a>
        </li>
        <li class="nav-item centerbutton">
            <div class="nav-link"  [class.active]="isVisited == true" (click)="checkVisited()">
                <span class="theme-radial-gradient">
                    <i class="close bi bi-x"></i>
                    <img src="assets/img/centerbutton.svg" class="nav-icon" alt="" />
                </span>
                <div class="nav-menu-popover justify-content-between">
                    <button type="button" class="btn btn-lg btn-icon-text" routerLink="/home" routerLinkActive="active">
                        <i class="bi bi-credit-card size-32"></i><span>Packer</span>
                    </button>

                    <button type="button" class="btn btn-lg btn-icon-text" routerLink="/dispatcher-home" routerLinkActive="active">
                        <i class="bi bi-arrow-up-right-circle size-32"></i><span>Dispatcher</span>
                    </button>

                    <button type="button" class="btn btn-lg btn-icon-text" routerLink="/receiver-home" routerLinkActive="active">
                        <i class="bi bi-receipt size-32"></i><span>Receiver</span>
                    </button>

                    <button type="button" class="btn btn-lg btn-icon-text" routerLink="/admin-home" routerLinkActive="active">
                        <i class="bi bi-arrow-down-left-circle size-32"></i><span>Admin</span>
                    </button>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">
                <span>
                    <i class="nav-icon bi bi-gift"></i>
                    <span class="nav-text">Profile</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">
                <span>
                    <i class="nav-icon bi bi-wallet2"></i>
                    <span class="nav-text">Logout</span>
                </span>
            </a>
        </li>
    </ul>
</div>