<!-- Order Details -->
<div class="row mb-3">
    <div class="col text-center">
        <h6 class="title">Order: 0001</h6><br>
        <h6 class="title">Consignment No.: 0001-01</h6>
    </div>
</div>

<!-- Container information -->
<div class="row mb-3">
    <div class="col">
        <h6>Container Information</h6>
    </div>
</div>
<div class="row h-100 mb-4">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-group form-floating  mb-3">
            <input type="text" class="form-control" value="638257634787" placeholder="Container No." id="names">
            <label for="names">Container No.</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-group form-floating  mb-3">
            <input type="text" class="form-control" value="65000" placeholder="Items" id="items">
            <label for="items">Items</label>
        </div>
    </div>
</div>

<div class="row h-100 ">
    <div class="col-12 mb-4">
        <a routerLink="/consignment-details" target="_self" class="btn btn-default btn-lg w-100">
            Save
        </a>
    </div>
</div>