<!-- welcome user -->
<div class="row mb-4">
    <div class="col-auto">
        <div class="avatar avatar-50 shadow rounded-10">
            <img src="assets/img/user1.jpg" alt="">
        </div>
    </div>
    <div class="col align-self-center ps-0">
        <h4 class="text-color-theme"><span class="fw-normal">Hi</span>, Factorized</h4>
        <p class="text-muted">Good Morning</p>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12 text-center">
        <img src="assets/img/infographic-scan.png" alt="">
    </div>
</div>

<div class="row">
    <div class="col-12 text-center mb-4">
        <h1 class="mb-3 text-color-theme">Scan &amp; Dispatch</h1>
        <a class="btn btn-default btn-lg mb-3 px-4 shadow-sm" routerLink="/scan-consignment-qr">
            <i class="bi bi-camera mx-2"></i> Scan Now
        </a>
    </div>
</div>