<!-- Order Details -->
<div class="row mb-3">
    <div class="col text-center">
        <h6 class="title">Order: 0001</h6>
    </div>
</div>

<!-- Consignment Item -->
<div class="row">
    <div class="col-12 col-md-6">
        <div class="row">

            <div class="col-12 col-md-12">
                
                <!-- Consignment details -->
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-40 alert-warning text-warning rounded-circle">
                                    <i class="bi bi-truck"></i>
                                </div>
                            </div>
                            <div class="col px-0 align-self-center">
                                <p class="text-muted size-12 mb-0">
                                    <b>Consignment No.:</b> 0001-01
                                </p>
                                <p>1,544 of 15,160</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Container Item -->
                <div class="row">
                    <div class="col-1 col-md-1"></div>
                    <div class="col-11 col-md-11">
                        <div class="card shadow-sm mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="avatar avatar-40 alert-primary text-primary rounded-circle">
                                            <i class="bi bi-truck"></i>
                                        </div>
                                    </div>
                                    <div class="col px-0 align-self-center">
                                        <p class="text-muted size-12 mb-0">
                                            Container Loaded
                                        </p>
                                        <p>
                                            1,723 of 15,160
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Container Item -->
                <div class="row">
                    <div class="col-1 col-md-1"></div>
                    <div class="col-11 col-md-11">
                        <div class="card shadow-sm mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="avatar avatar-40 alert-primary text-primary rounded-circle">
                                            <i class="bi bi-truck"></i>
                                        </div>
                                    </div>
                                    <div class="col px-0 align-self-center">
                                        <p class="text-muted size-12 mb-0">
                                            Container Loaded
                                        </p>
                                        <p>
                                            1,723 of 15,160
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="row h-100 mb-4">

    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-floating mb-3">
            <select class="form-control" id="vehicle">
                <option selected>TN14PP1234</option>
                <option>TN14PP4321</option>
            </select>
            <label for="vehicle">Vehicle</label>
        </div>
    </div>
    
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-floating mb-3">
            <select class="form-control" id="route">
                <option selected>Bangalore NH</option>
                <option>Chennai - Rameshwaram NH</option>
            </select>
            <label for="route">Route</label>
        </div>
    </div>
    
</div>
<div class="row h-100 ">
    <div class="col-12 mb-4">
        <a routerLink="/dispatcher-home" target="_self" class="btn btn-default btn-lg w-100">
            Save
        </a>
    </div>
</div>